.videocarousel {
  font-family: sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20em;
  /* height: 100vh; */
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
}
