.speech-bubble {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.4em;
  color: rgb(0, 0, 0);
  left: 200px;
  top: 50px;
  animation: 3.8s fadeIn;
  animation-fill-mode: forwards;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  visibility: hidden;
}

.ele:hover {
  background-color: #123;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 100;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
